<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IIndex</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.IIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MantenimientoRegionn</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.MantenimientoRegionn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfillControl</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.PerfillControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinciaControll</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.ProvinciaControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegionControll</servlet-name>
        <servlet-class>pe.edu.upeu.rrhh.controlador.RegionControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IIndex</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MantenimientoRegionn</servlet-name>
        <url-pattern>/ManR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfillControl</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinciaControll</servlet-name>
        <url-pattern>/Prov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegionControll</servlet-name>
        <url-pattern>/region</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
